<div class="wrapper">
  <div class="wrapper-sidemenu">
        <div class="sidemenu-logo">
            <img src="../assets/logo.jpg">
        </div>
        <div class="sidemenu-list">
            <ul>
              <li routerLink="employees">
                Employee list
              </li>
              <li routerLink="employees/add">
                Add New
              </li >
            </ul>
        </div>
  </div>
  <div class="wrapper-menu-display">
<router-outlet></router-outlet>
  </div>

</div>