<div class="add-data-form">
        <form [formGroup]="addForm">
        <div class="input-wrapper">
          <div class="input-wrapper-h">
            <input type="text" class="f-w" placeholder="Enter Name" formControlName="name"
            [pattern]="'^[a-zA-Z \-\']*'"
            >
            <div class="error" *ngIf="submitted && f.name.errors">Please Enter valid Full Name.
              <div class="error" *ngIf="f.name.errors.minlength">Minimum length should be 4 Characters
              
              </div>
            </div>
          </div>
          <div class="input-wrapper-h">
            <input type="number" class="f-w" placeholder="Enter Phone number" formControlName="phone">
            <div class="error" *ngIf="submitted && f.phone.errors">Please Enter Phone Number</div>
          </div>
        </div>
        <div class="input-wrapper">
          <div class="input-wrapper-h">
            <input type="text" class="f-w" placeholder="Enter City" formControlName="city">
            <!-- <div class="error" *ngIf="submitted && f.city.errors">Please Enter City.</div> -->
          </div>
          <div class="input-wrapper-h">
            <input type="text" class="f-w" placeholder="Enter Address1" formControlName="address1">
            <!-- <div class="error" *ngIf="submitted && f.address1.errors">Please Enter Address.</div> -->
          </div>
        </div>
        <div class="input-wrapper">
          <div class="input-wrapper-h">
            <input type="text" class="f-w" placeholder="Enter Address2" formControlName="address2">
            <!-- <div class="error" *ngIf=" submitted && f.address2.errors">Please Enter Full Name.</div> -->
          </div>
          <div class="input-wrapper-h">
            <input type="text" class="f-w" placeholder="Enter Postal code"formControlName="postalcode">
            <!-- <div class="error" *ngIf="submitted && f.postalcode.errors">Please Enter Postal Code.</div> -->
          </div>
        </div>
        <div class="input-wrapper">
          <button *ngIf="buttonFlag" class="btn  saveData" (click)="saveData()">Save</button>
          <button *ngIf="!buttonFlag" class="btn  saveData" (click)="updateData()">Update</button>
        </div>
      </form>
</div>